proxmox_api_url = "https://x.x.x.x:8006/api2/json"  # Your Proxmox IP Address
proxmox_api_token_id = "user@pamTokenID"  # API Token ID
proxmox_api_token_secret = "Secret"

#Cloud Init Config
ci_user = "ubuntu"
ci_password = "Admin123"
